.matches
  - section_style = (@exhibitions.blank? or @collections.blank?) ? 'margin-top:30px;' : ''
  - if @exhibitions.present?
    %section{style: section_style}
      %h4 Exhibition Matches
      = link_to_exhibition @exhibitions.first
      - if @exhibitions.count > 1
        = link_to "#{@exhibitions.count - 1} More »", '#more_exhibitions', class: 'Viewmore inline cboxElement'

        // Popup
        - content_for :colorbox do
          #more_exhibitions.inline_content
            %h1 Exhibition Matches
            - if @exhibitions.count > 30
              .popBar
                .pagination
                  .t-data-grid-pager
                    - pages = (@exhibitions.count.to_f / 30).ceil
                    - (1..pages).to_a.each do |page|
                      - if page == 1
                        %span.current{data: {page: page}}= page
                      - else
                        %a{href: '#', data: {page: page}}= page
            = @exhibitions.each_slice(30).with_index do |section, page|
              - page = page + 1
              - hidden_style = page != 1 ? 'display:none' : ''
              .pop-columns{data: {page: page}, style: "#{hidden_style}"}
                - section.in_groups(3).each do |column|
                  %section
                    %ul
                      - column.reject(&:nil?).each do |exhibition|
                        %li= link_to_exhibition exhibition