- refines_presented = @search.refine.map {|k,v| v.present?}.select(&:present?).present?
- if refines_presented
  .refine
    %p Refined by:
    %ul
      - @search.refine[:subject].each do |refine|
        %li
          = refine
          = link_to '×', refine_path(:subject, refine, remove: true)
      - if @search.refine[:after].present?
        %li
          After
          = @search.refine[:after].strftime('%b %-d, %Y')
          = link_to '×', params.reject { |k,v| k.to_sym.eql? :after } 
      - if @search.refine[:before].present?
        %li
          Before
          = @search.refine[:before].strftime('%b %-d, %Y')
          = link_to '×', params.reject { |k,v| k.to_sym.eql? :before }
      - @search.refine[:type].each do |refine|
        %li
          = refine
          = link_to '×', refine_path(:type, refine, remove: true)
      - @search.refine[:language].each do |refine|
        %li
          = refine
          = link_to '×', refine_path(:language, refine, remove: true)