- if @search.refine[:subject].present? or @search.facets[:subject].present?
  .module.yellow
    %h6.open By Subject
    - if @search.refine[:subject].present?
      .slidingDiv
        - @search.refine[:subject].each do |refine|
          .refineResult
            %span= refine
            = link_to '×', refine_path(:subject, refine, remove: true)
    - if @search.facets[:subject].present?
      .slidingDiv
        .locations
          %ul
            - @search.facets[:subject].each do |name, count|
              %li
                = link_to name, refine_path(:subject, name)
                %span= count

.module.yellow
  %h6.open By Date
  .slidingDiv
    - if @search.refine[:end].present?
      .refineResult
        %span Before
        = @search.refine[:end]
        = link_to '×', params.reject { |k,v| k.to_sym.eql? :end } 
    - if @search.refine[:start].present?
      .refineResult
        %span After
        = @search.refine[:start]
        = link_to '×', params.reject { |k,v| k.to_sym.eql? :start }  
  .slidingDiv
    = form_tag(search_items_path, method: :get, authenticity_token: false, class: 'moduleForm') do
      = preserved_search_fields
      .formRow
        %label From
        - start_date = params[:start] || {}
        = select_month start_date[:month].to_i, {prompt: 'Month'}, name: 'start[month]', class: 'daterange month', id: :start_month
        = select_day   start_date[:day].to_i, {prompt: 'Day'}, name: 'start[day]', class: 'daterange day', id: :start_day
        = text_field nil, nil, value: start_date[:year], name: 'start[year]', placeholder: 'Year', class: 'daterange', id: :start_year
      .formRow
        %label To
        - end_date = params[:end] || {}
        = select_month end_date[:month].to_i, {prompt: 'Month'}, name: 'end[month]', class: 'daterange month', id: :end_month
        = select_day   end_date[:day].to_i, {prompt: 'Day'}, name: 'end[day]', class: 'daterange day', id: :end_day
        = text_field nil, nil, value: end_date[:year], name: 'end[year]', placeholder: 'Year', class: 'daterange', id: :end_year
      .formRow
        = submit_tag 'Update', class: 'btn orange', name: nil

- if @search.refine[:type].present? or @search.facets[:type].present?
  .module.yellow
    %h6.open By Format
    - if @search.refine[:type].present?
      .slidingDiv
        - @search.refine[:type].each do |refine|
          .refineResult
            %span= refine
            = link_to '×', refine_path(:type, refine, remove: true)
    - if @search.facets[:type].present?
      .slidingDiv
        .locations
          %ul
            - @search.facets[:type].each do |name, count|
              %li
                = link_to name, refine_path(:type, name)
                %span= count

- if @search.refine[:language].present? or @search.facets[:language].present?
  .module.yellow
    %h6.open By Language
    - if @search.refine[:language].present?
      .slidingDiv
        - @search.refine[:language].each do |refine|
          .refineResult
            %span= refine
            = link_to '×', refine_path(:language, refine, remove: true)
    - if @search.facets[:language].present?
      .slidingDiv
        .locations
          %ul
            - @search.facets[:language].each do |name, count|
              %li
                = link_to name, refine_path(:language, name)
                %span= count