.layoutTwo.search-page
  = render 'shared/search_panel'
  %ul.shareSave
    %li.btn
      %a{:href => ""} Save
    %li.btn
      %a{:href => ""} Share
  %h1 Search Results
  = render 'shared/results/search_results', query: params[:q], search: @search
  = render 'shared/refine_control'
  - if @items.present?
    .slidePopOut
      #resultsBarTop.resultsBar
        = render partial: 'paginator'
      %article
        .matches
          %section
            %h4 Subject Matches
            %a{:href => ""} Civil War, American
          %section
            %h4 Collection Matches
            %a{:href => ""} Smithsonian Civil War Collection
            %a.Viewmore{:href => ""} 23 more »
        .search
          - @items.each do |item|
            %section
              .searchRight
                - if item.preview_source_url
                  = image_tag item.preview_source_url
              .searchLeft
                %h6= item.type
                - if item.id.present?
                  %h4= link_to item.title, item_path(item.id)
                - else
                  %h4= item.title
                %p
                  %span= item.creator
                %p= item.description
                - if item.source.present?
                  = link_to item.source, class: 'ViewObject', target: :_blank do
                    View Object
                    %span.icon-view-object{"aria-hidden" => "true"}
    = render partial: 'shared/sidebar'
    #resultsBarBottom.resultsBar
      = render partial: 'paginator'