.layoutTwo.search-page
  = render 'shared/search_panel'
  = render 'shared/share_save'
  = render 'shared/aside_toggle'
  %h1 Search Results
  = render 'shared/results/search_results', query: params[:q], search: @search
  - if @search.count > 0
    .slidePopOut
      #resultsBarTop.resultsBar
        = render partial: 'paginator'
      %article
        = render partial: 'matches'
        .search
          - @items.each do |item|
            %section
              .searchRight
                = item_thumbnail(item)
              .searchLeft
                %h6= item.type
                - if item.id.present?
                  %h4= link_to item.title || item.id, item_path(item.id, back_uri: request.url)
                - else
                  %h4= item.title
                %p
                  %span= item.creator
                %p= truncate item.description, length: 450
                - if item.url.present?
                  = link_to item.url, class: 'ViewObject', target: :_blank do
                    View Object
                    %span.icon-view-object{"aria-hidden" => "true"}
    = render partial: 'shared/sidebar'
    #resultsBarBottom.resultsBar
      = render partial: 'paginator'