.layoutTwo.timeline
  = render partial: 'shared/search_block'

  %h1 Timeline
  / Search results block
  .searchResults
    %h4
      Your search
      - if params[:q].present?
        for
        %span= params[:q]
      returned 
      = number_with_delimiter @search.results.count, delimiter: ','
      results.

  / Control block
  .controls
    #toggle
      %span.icon-arrow-thin-left{"aria-hidden" => "true"} Refine
    #toggle.mobile.Marticle
      %span.icon-arrow-thin-left{"aria-hidden" => "true"} Refine
    #toggle.mobile.Maside
      Timeline
      %span.icon-arrow-thin-right{"aria-hidden" => "true"}

  / Main container
  .timeContainer
    %article.timeline
      / Century timeline
      .timelineModuleOuter
        .timelineModule

          .scrubber
            %span.arrow
          %ul.centuries
            %li 1000
            %li 1100
            %li 1200
            %li 1300
            %li 1400
            %li 1500
            %li 1600
            %li 1700
            %li 1800
            %li 1900
            %li 2000
          %ul.bars
            - 110.times do
              %li{style: "height: #{[5,10,15,20].sample}px;"}

      .timelineView
        View:
        %a.selected.DecadesTab{href:"#"} Decades
        = link_to "Years", timeline_year_path(params.except(:action).merge(year: 1955)), class: "yearTab"

      / Decades
      .Decades
        %span.next
        %span.prev
        .DecadesDates
          %ul
            - century = 1900
            %li.century= century
            - (1..11).each do |i|
              %li= century + i*10

        .graph
          %ul
            - 110.times do
              %li{style:"height: #{(5..300).to_a.sample}px;"}
                .info
                  %h3 1985
                  %span 785 items

  %aside
    = render partial: 'sidebar'