.layoutTwo.timeline
  = render partial: 'shared/search_block'

  %h1 Timeline
  / Search results block
  .searchResults
    %h4
      Your search
      - if params[:q].present?
        for
        %span= params[:q]
      returned 
      = number_with_delimiter @search.count, delimiter: ','
      results.

  / Control block
  .controls
    #toggle
      %span.icon-arrow-thin-left{"aria-hidden" => "true"} Refine
    #toggle.mobile.Marticle
      %span.icon-arrow-thin-left{"aria-hidden" => "true"} Refine
    #toggle.mobile.Maside
      Timeline
      %span.icon-arrow-thin-right{"aria-hidden" => "true"}

  / Main container
  .timeContainer
    %article.timeline
      / Century timeline
      .timelineModuleOuter
        .timelineModule
          = timeline @search.decades

      .timelineView
        View:
        %a.selected.DecadesTab{href:"#"} Decades
        %a.yearTab{href:"#"} Years

      / Decades
      .Decades
        %span.next
        %span.prev
        .DecadesDates
          = graph_dates

        .graph
          = graph @search.years

      / Years
      .timelineContainer
        .timeline-row
          %span.next
          %span.prev

          .timelineContent
            .timelineResults

        .timeline-row
          %span.next
          %span.prev
          .year
            %h3= params[:year]
          .timelineContent
            .timelineResults

        .timeline-row
          %span.next
          %span.prev

          .timelineContent
            .timelineResults

  %aside
    = render partial: 'sidebar'