.layoutTwo.timeline
  = render partial: 'shared/search_block'

  %h1 Timeline
  / Search results block
  .searchResults
    %h4
      Your search
      - if params[:q].present?
        for
        %span= params[:q]
      returned 
      = number_with_delimiter @search.count, delimiter: ','
      results.

  / Control block
  .controls
    #toggle
      %span.icon-arrow-thin-left{"aria-hidden" => "true"} Refine
    #toggle.mobile.Marticle
      %span.icon-arrow-thin-left{"aria-hidden" => "true"} Refine
    #toggle.mobile.Maside
      Timeline
      %span.icon-arrow-thin-right{"aria-hidden" => "true"}

  / Main container
  .timeContainer
    %article.timeline
      / Century timeline
      .timelineModuleOuter
        .timelineModule
          = timeline @search.decades

      .timelineView
        View:
        = link_to "Decades", timeline_decades_path(params.except(:action, :year)), class: "DecadesTab"
        %a.selected.yearTab{href: "#"} Years

      .timelineContainer
        .timeline-row
          %span.next
          %span.prev

          .timelineContent
            .timelineResults

        .timeline-row
          = link_to timeline_year_path(params.merge(year: params[:year].to_i+1)) do
            %span.next
          = link_to timeline_year_path(params.merge(year: params[:year].to_i-1)) do
            %span.prev
          .year
            %h3= params[:year]
          .timelineContent
            .timelineResults
              %h2
                = number_with_delimiter @search.items.count, delimiter: ','
                items
              - @items.each do |item|
                %section
                  .sectionLeft
                    %h6= item.type
                    - if item.id.present?
                      %h4= link_to item.title, item_path(item.id)
                    - else
                      %h4= item.title
                    %p
                      %span= item.creator
                    %p= item.description
                    - if item.source.present?
                      = link_to item.source, class: 'ViewObject' do
                        View Object
                        %span.icon-view-object{"aria-hidden" => "true"}
                  .sectionRight
                    - if item.preview_source_url
                      = image_tag item.preview_source_url
        .timeline-row
          %span.next
          %span.prev

          .timelineContent
            .timelineResults

  %aside
    = render partial: 'sidebar'