.module.yellow
  %h6.open By Date
  .slidingDiv
    - if after_refine.present?
      .refineResult
        %span
          After
          = after_refine.strftime('%b %-d, %Y')
        = link_to '×', params.reject { |k,v| k.to_sym.eql? :after }
    - if before_refine.present?
      .refineResult
        %span
          Before
          = before_refine.strftime('%b %-d, %Y')
        = link_to '×', params.reject { |k,v| k.to_sym.eql? :before }
    = form_tag(request.path, method: :get, authenticity_token: false, class: 'moduleForm') do
      = preserved_search_fields
      .formRow
        %label From
        - after = permitted_params.filters[:after]
        = select_month after ? after.month : nil, {prompt: 'Month'}, name: 'after[month]', class: 'daterange month', id: :after_month
        = select_day   after ? after.day : nil, {prompt: 'Day'}, name: 'after[day]', class: 'daterange day', id: :after_day
        = text_field nil, nil, value: after ? after.year : nil, name: 'after[year]', placeholder: 'Year', class: 'daterange', id: :after_year
      .formRow
        %label To
        - before = permitted_params.filters[:before]
        = select_month before ? before.month : nil, {prompt: 'Month'}, name: 'before[month]', class: 'daterange month', id: :before_month
        = select_day   before ? before.day : nil, {prompt: 'Day'}, name: 'before[day]', class: 'daterange day', id: :before_day
        = text_field nil, nil, value: before ? before.year : nil, name: 'before[year]', placeholder: 'Year', class: 'daterange', id: :before_year
      %a.btn.orange{:href => ""} Update