- if type_refines.present? or type_facets.present?
  .module.yellow
    %h6.open
      By Type
      %span.icon-arrow-up{"aria-hidden" => "true"}
    .slidingDiv
      - if type_refines.present?
        - type_refines.each do |refine|
          .refineResult
            %span= refine
            = link_to '×', refine_path(:type, refine, remove: true)
      - if type_facets.present?
        .locations
          %ul
            - type_facets.slice(0, 5).each do |facet|
            - name, count = facet.shift, facet.shift
              %li
                = link_to name, refine_path(:type, name)
                %span= count
    - if type_facets.present? and type_facets.count > 5
      .more= link_to 'More »', '#more_types', class: 'inline cboxElement'

// Popup
- content_for :colorbox do
  #more_types.inline_content
    %h1 Types
    - if type_facets.count > 30
      .popBar
        .pagination
          .t-data-grid-pager
            - pages = (type_facets.count.to_f / 30).ceil
            - (1..pages).to_a.each do |page|
              - if page == 1
                %span.current{data: {page: page}}= page
              - else
                %a{href: '#', data: {page: page}}= page
    = type_facets.each_slice(30).with_index do |section, page|
      - page = page + 1
      - hidden_style = page != 1 ? 'display:none' : ''
      .pop-columns{data: {page: page}, style: "#{hidden_style}"}
        - section.in_groups(3).each do |column|
          %section
            %ul
              - column.reject(&:nil?).each do |facet|
                - name, count = facet.shift, facet.shift
                - if name.present?
                  %li
                    = link_to name, refine_path(:type, name)
                    %span= count
