- if subject_refines.present? or subject_facets.present?
  .module.yellow.subject
    %h6.open By Subject
    .slidingDiv
      - if subject_refines.present?
        - subject_refines.each do |refine|
          .refineResult
            %span= refine
            = link_to '×', refine_path(:subject, refine, remove: true)
      - if subject_facets.present?
        .locations
          %ul
            - subject_facets.slice(0,5).each do |facet|
              - name, count = facet.shift, facet.shift
              - if name.present?
                %li
                  = link_to name, refine_path(:subject, name)
                  %span= count
    - if subject_facets.present? and subject_facets.count > 5
      .more= link_to 'More »', '#more_subjects', class: 'inline'
      - content_for :colorbox do
        #more_subjects.inline_content{:style => "padding:10px; background:#fff;"}
          #cboxClose.pclose &times;
          %h1 Subjects
          .pop-columns
            - subject_facets.in_groups(3).each do |facets_group|
              %section
                %ul
                  - facets_group.reject(&:nil?).each do |facet|
                    - name, count = facet.shift, facet.shift
                    - if name.present?
                      %li
                        = link_to name, refine_path(:subject, name)
                        %span= count
