.layout.fullWidth
  = render 'shared/search_panel'

  %article#content{role: 'main'}
    %h1 Your Profile
    .profile
      = render partial: 'shared/profile/tabs'
      .tab-content
        .savedItems
          = form_tag destroy_bulk_saved_searches_path do
            .resultsBar#resultsBarTop
              %a.btn{href: ""} Delete
              .pagination= paginate @saved_searches
            .saved-rows
              %ul
                %li
                  %input{type: "checkbox", class: 'checkbox select-all'}
                  %a.sort.active.descending{href: ""}
                    Search Term
                    %span.icon-arrow-down{"aria-hidden" => "true"}
                %li.row-2 Filters
                %li.row-3
                  %a.sort{href: "#"} Results
                %li.row-4 Delete
              = render partial: 'saved_search', collection: @saved_searches
            .resultsBar#resultsBarBottom
              %a.btn{id:"remove_items", href: ""} Delete
              .pagination= paginate @saved_searches