.layout.fullWidth
  %article
    %h1 Sign up
    .account
      = simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
        = f.input :email, required: true, autofocus: true
        = f.input :name, required: true
        = f.input :password, required: true
        = f.input :password_confirmation, required: true
        %br
        %a.btn{:href => ""} Sign up

      = render "devise/shared/links"
