%section.searchRow
  .searchRowLeft
    - if session[:last_query] and params[:controller] == 'items'
      = link_to "« back to search results", session[:last_query]
  .searchRowRight
    - if %w(timeline search map).include? params[:controller]
      .searchViews
        %span View:
        %ul
          %li{class: params[:controller] == 'search' && 'active'}
            = link_to search_items_path(params.except(:controller, :action)) do
              %span.icon-view-list{"aria-hidden" => "true"}
          %li{class: params[:controller] == 'map' && 'active'}
            = link_to map_path(params.except(:controller, :action)), class: 'viewTwo' do
              %span.icon-view-map{"aria-hidden" => "true"}
          %li{class: params[:controller] == 'timeline' && 'active'}
            = link_to timeline_path(params.except(:controller, :action)), class: 'viewThree' do
              %span.icon-view-time{"aria-hidden" => "true"}
    %a.search-btn{:href => ""} Search
    = form_tag('', method: :get, authenticity_token: false, id: :searchBox) do
      = preserved_search_fields without: :q
      = text_field_tag :q, params[:q], placeholder: 'Search the Library'
      = submit_tag 'Search', class: 'searchBtn', name: nil