%aside
  %h5 Refine search
  - unless params[:controller] == 'bookshelf'
    = render 'shared/sidebar/refine_by_type'
  = render 'shared/sidebar/refine_by_provider'
  = render 'shared/sidebar/refine_by_partner'
  - unless params[:controller] == 'timeline'
    = render 'shared/sidebar/refine_by_date'
  = render 'shared/sidebar/refine_by_language'
  = render 'shared/sidebar/refine_by_location'
  = render 'shared/sidebar/refine_by_subject'
