%ul
  %li.aboutMenu
    = link_to about_root_path do
      About
      %span.icon-arrow-thin-down{"aria-hidden" => "true"}
    %ul
      %li= link_to "Overview", about_overview_path
      %li= link_to "Leadership", about_leadership_path
      %li= link_to "Workstreams", about_workstreams_path
      %li= link_to "For developers", about_for_developers_path
      %li= link_to "Get involved", about_get_involved_path


  %li= link_to 'News', "#"
  %li= link_to 'Contact', "#"
  - if user_signed_in?
    %li
      = link_to edit_user_registration_path do
        Welcome,
        = current_user.name
    %li.bg.last= link_to "Sign out", destroy_user_session_path
  - else
    %li.bg= link_to 'Login', new_user_session_path
    %li.bg.last= link_to 'Sign Up', new_user_registration_path