%ul
  %li.aboutMenu
    = link_to wordpress_path '/' do
      About
      %span.icon-arrow-thin-down{"aria-hidden" => "true"}
    %ul
      %li= link_to "History", wordpress_path('/about/history/')
      %li= link_to "Who we are", wordpress_path('/about/who/')
      %li= link_to "Policies", wordpress_path('/about/policies/')
      %li= link_to "Projects", wordpress_path('/about/projects/')
      %li= link_to "Funding", wordpress_path('/about/funding/')
      %li= link_to "Awards", wordpress_path('/about/accolades-and-awards/')                          
      %li= link_to "FAQ", wordpress_path('/about/faq/')
      %li= link_to "Jobs", wordpress_path('/about/jobs/')

  %li.aboutMenu
    = link_to wordpress_path '/get-involved/' do
      Get Involved
      %span.icon-arrow-thin-down{"aria-hidden" => "true"}
    %ul
      %li= link_to "Become a Partner", wordpress_path('/get-involved/partnerships/')
      %li= link_to "Community Reps", wordpress_path('/get-involved/reps/')                 
      %li= link_to "Open Committee Calls", wordpress_path('/get-involved/open-committee-calls/')
      %li= link_to "Events", wordpress_path('/get-involved/events/')
      %li= link_to "Forums", wordpress_path('/forums/')
      %li= link_to "DPLAfest 2013", wordpress_path('/get-involved/events/dplafest2013')

  %li.aboutMenu
    = link_to wordpress_path '/developers/' do
      For Developers
      %span.icon-arrow-thin-down{"aria-hidden" => "true"}
    %ul
      %li= link_to "API Codex", wordpress_path('/developers/codex/')
      %li= link_to "Hacking Projects", wordpress_path('/developers/hacking-projects/')

  %li.aboutMenu
    = link_to wordpress_path '/help/' do
      Help
      %span.icon-arrow-thin-down{"aria-hidden" => "true"}
    %ul
      %li= link_to 'Tutorials', wordpress_path('/teaching-tools/')

  %li.aboutMenu
    = link_to wordpress_path '/news/' do
      Follow
      %span.icon-arrow-thin-down{"aria-hidden" => "true"}
    %ul
      %li= link_to "Blog", wordpress_path('/news/blog/')
      %li= link_to "Press", wordpress_path('/news/press/')

  %li= link_to 'Contact', wordpress_path('/contact/')
  %li.hilight
    = link_to 'Donate', wordpress_path('/donate/')
  - if user_signed_in?
    %li.welcome
      = link_to edit_user_registration_path do
        Welcome,
        = current_user.name
    %li.signOut.bg.last= link_to "Sign out", destroy_user_session_path
  - else
    %li.login.bg
      = link_to 'Login', new_user_session_path, class: 'login cBoxElement'
    %li.signUp.bg.last
      = link_to 'Sign Up', new_user_registration_path, class: 'signUp cBoxElement'
