- if search.filters.present?
  .refine
    %p Refined by:
    %ul
      - subject_refines.each do |refine|
        %li
          = refine
          = link_to '×', refine_path(:subject, refine, remove: true)
      - if after_refine.present?
        %li
          After
          = after_refine.strftime('%b %-d, %Y')
          = link_to '×', params.reject { |k,v| k.to_sym.eql? :after } 
      - if before_refine.present?
        %li
          Before
          = before_refine.strftime('%b %-d, %Y')
          = link_to '×', params.reject { |k,v| k.to_sym.eql? :before }
      - type_refines.each do |refine|
        %li
          = refine
          = link_to '×', refine_path(:type, refine, remove: true)
      - language_refines.each do |refine|
        %li
          = refine
          = link_to '×', refine_path(:language, refine, remove: true)
      - location_refines.each do |refine|
        %li
          = refine
          = link_to '×', refine_path(:location, refine, remove: true)