/ Search results block
- if @search.count > 0
  .searchResults
    %p
      Your search
      - if query.present?
        for
        %span= query
      returned
      = number_with_delimiter search.count, delimiter: ','
      - if 'map' == params[:controller]
        results. Only results with location data are shown below.
      - elsif 'timeline' == params[:controller]
        results. Only results with time data are shown below.
      - elsif 'bookshelf' == params[:controller]
        books and periodicals.
      -else
        results.
      = render 'shared/results/refined_by', search: search
- else
  .searchResults.no-results#content{role: "main"}
    %h4
      -if query.nil?
        Your search didn't return results
      -else
        Your search for
        %span= query
        returned no results.
    = render 'shared/results/refined_by', search: search
    %p Suggestions:
    %ul
      %li Make sure all words are spelled correctly.
      %li Try different keywords.
      %li Try more general keywords.
