/ Search results block
- if @search.count > 0
  .searchResults
    %p
      Your search
      - if query.present?
        for
        %span= query
      returned
      = number_with_delimiter search.count, delimiter: ','
      - if search.count > 1
        results
      - else
        result
      - if 'map' == params[:controller]
        with location coordinates
      - elsif 'timeline' == params[:controller]
        with dates
      - if provider_facets.present?
        from
        = "#{ 'over' if provider_facets.count >= 2000 }"
        = "#{ number_with_delimiter provider_facets.count, delimiter: ',' }"
        contributing
        - if provider_facets.count > 1
          institutions
        - else
          institution
      = render 'shared/results/refined_by', search: search
- else
  .searchResults.no-results#content{role: "main"}
    %h4
      -if query.nil?
        Your search didn't return results
      -else
        Your search for
        %span= query
        returned no results.
    = render 'shared/results/refined_by', search: search
    %p Suggestions:
    %ul
      %li Make sure all words are spelled correctly.
      %li Try different keywords.
      %li Try more general keywords.
