%section
  .sectionRight
    - if item.preview_image
      = image_tag item.preview_image
  .sectionLeft
    %h6= item.type
    - if item.id.present?
      %h4= link_to item.title, item_path(item.id)
    - else
      %h4= item.title
    %p
      %span= item.creator
    %p= item.description
    - if item.url
      = link_to item.url, class: 'ViewObject', target: :_blank do
        View Object
        %span.icon-view-object{"aria-hidden" => "true"}