- page_title! t('.title_with_query', title: t('.title'), query: params[:q]) if params[:q].present?
- set_meta_tags :og => {:description => "The objects in the DPLA cover hundreds of years of our cultural heritage. You can browse by century, decade, and year using our Timeline."}

.layoutTwo.timeline
  = render 'shared/search_panel'

  %h1 Timeline
  = render 'shared/results/search_results', query: params[:q], search: @search
  - if @search.count > 0
    = render 'shared/refine_control'

    / Main container
    .timeContainer.decadesView{class: 'widthS'}
      %article.timeline#content{role: "main"}
        / Century timeline
        = render 'timeline_module'

        .timelineView
          View:
          %a.selected.DecadesTab{href:"#"} Decades
          %a.yearTab{href:"#"} Years

        / Decades
        .Decades
          %span.next
          %span.prev
          .DecadesDates
            = graph_dates

          .graph
            = graph @timeline.years

        / Years
        .timelineContainer
          - 5.times do
            = render 'empty_page'

    = render 'shared/sidebar'

:javascript
  window.api_search_path    = '#{@timeline.api_search_path}';
  window.api_item_path      = '#{@timeline.api_item_path}';
  window.default_img_path   = '#{asset_path('icon-text.gif')}';
  window.finalYear          = '#{@timeline.final_year}'