- page_title! t('.title'), :home
- set_meta_tags :description => "The Digital Public Library of America brings together the riches of America’s libraries, archives, and museums, and makes them freely available to the world."

%article#content.home{role: "main"}
  .content
    %section.left
      .slide-container
        .flexslider.homeslide
          %ul.slides
            %li
              = image_tag "slide/dplafest_banner.jpg"
              .slideOverlay
              .slideText
                %p
                  %a{:href => '/info/get-involved/dplafest/april-2015/'} Join us for DPLAfest 2015, taking place on April 17-18, 2015 in Indianapolis, Indiana!
            %li
              = image_tag "slide/home-slide7.png"
              .slideOverlay
              .slideText
                %p
                  %a{:href => '/item/92028cc0c0064c6690a39a6d67b11fde'} Americae Sive Novi Orbis Nova Descriptio, 1587. Ortelius Abraham, cartographer&nbsp;»
            %li
              = image_tag "slide/home-slide8.jpg"
              .slideOverlay
              .slideText
                %p
                  %a{:href => '/item/5316c911c73b2d4b44b3654b4ac9dea0'} Unidentified popper at the Roseland Ballroom, 1982. Joe Conzo, photographer&nbsp;»
            %li
              = image_tag "slide/home-slide9.jpg"
              .slideOverlay
              .slideText
                %p
                  %a{:href => '/item/f156f66389fd98682d8280b9c3d1c46f'} An Ordinance Abolishing Slavery in Missouri, 1865. (Missouri Emancipation Proclamation)&nbsp;»
            %li
              = image_tag "slide/home-slide10.jpg"
              .slideOverlay
              .slideText
                %p
                  %a{:href => '/item/58eba7947b48cc83bc8730587a3a6aab'} Winnie-the-Pooh, Kanga, Piglet, Eeyore, and Tigger, 1925&nbsp;»
            %li
              = image_tag "slide/home-slide11.png"
              .slideOverlay
              .slideText
                %p
                  %a{:href => '/item/75437b69bc3588e1ebc6fd2d1eb302b1'} Women on The Scrambler, Excelsior Amusement Park, Excelsior, Minnesota, c. 1950-1959.  &nbsp;»
            %li
              = image_tag "slide/home-slide12.jpeg"
              .slideOverlay
              .slideText
                %p
                  %a{:href => '/item/d498d3ce75e3fede0f8b4bd79fdc7146'} Mexican Folk Dancing, 9th Annual Texas Folklife Festival, 1980. Photograph by Michael Sidoric, Informedia&nbsp;»
          %a.moreInfo
            %span i
      .searchForm
        %h2 A Wealth of Knowledge
        %p 
          - if @search.count > 0
            %span 
              explore 
              = number_with_delimiter @search.count, delimiter: ','
              items
          from libraries, archives, and museums
        = form_tag(search_path, method: :get, authenticity_token: false, id: :searchBox, class: 'search-form', role: 'search') do
          = preserved_search_fields without: :q
          = label_tag 'searchField', 'Search the Library', :class => 'visuallyhidden'
          = text_field_tag :searchField, params[:q], placeholder: 'Search the Library', name: "q"
          = submit_tag 'Search', class: 'searchBtn', name: nil
    %section.right
      .row.yellow
        %a{:href => exhibitions_path}
          .box
            %h2 Exhibitions
            %h6 View all »
          .image
            = image_tag "home-exhibitions.jpg"
      .row.blue
        %a{:href => map_path}
          .box
            %h2
              Explore
              %span by Place
            %h6 Map »
          .image
            = image_tag "home-exploreplace.jpg"
      .row
        %a{:href => timeline_path}
          .box
            %h2
              Explore
              %span by Date
            %h6 Timeline »
          .image
            = image_tag "home-exploretime.jpg"
  .content.bottom
    %section.left
      %h1.border Apps
      %h4
        The DPLA is a platform. Developers make apps that use the library’s data in many different ways. Here are just a few.
        %span
          %a{:href => apps_path} App Library »
      = render partial: 'shared/apps/apps_view'
    %section.right
      %h1.border News
      = render partial: 'shared/social_icons', locals: { block_id: nil }
      = render 'shared/wp_news_widget'
      = render 'shared/twitter_widget'
