- page_title! t('.title'), :home

%article#content.home{role: "main"}
  .content
    %section.left
      .slide-container
        .flexslider.homeslide
          %ul.slides
            %li
              = image_tag "slide/home-slide1.jpg"
              .slideOverlay
              .slideText
                %p
                  %a{:href => '/item/280233fc9e42a02d32d268fe284a7613'} Laura Clay and group marching for the Madison, Fayette, and Franklin Kentucky Equal Rights Association, at Democratic National Convention in St. Louis, [n.d.] St. Louis, MO&nbsp;»
            %li
              = image_tag "slide/home-slide2.jpg"
              .slideOverlay
              .slideText
                %p
                  %a{:href => '/item/123c3ea1d7f099da675ce7c3a6c0ca4b'} An illuminated manuscript page from The Book of Hours, dated 1514&nbsp;»
            %li
              = image_tag "slide/home-slide3.jpg"
              .slideOverlay
              .slideText
                %p
                  %a{:href => '/item/7ba1d607106bf46b1c3775498f4de5ba'} Indian women playing game of plum stones. This is a print by the artist and military officer Seth Eastman, who was stationed in Minnesota before statehood&nbsp;»
            %li
              = image_tag "slide/home-slide4.jpg"
              .slideOverlay
              .slideText
                %p
                  %a{:href => '/item/a699e705f5a48eeec323f12b171e5c5f'} Bandanna printed in red overall with left portrait legend &ldquo;PRESIDENT/GROVER CLEVELAND&rdquo; and right portrait legend &ldquo;VICE PRESIDENT/THOMAS A. HENDRICKS&rdquo;&nbsp;»
            %li
              = image_tag "slide/home-slide5.jpg"
              .slideOverlay
              .slideText
                %p
                  %a{:href => '/item/53d404ae82e469c8d3aa73a19827805b'} Benjamin Sewall Blake jumping, ca. 1888. Francis Blake, photographer&nbsp;»
          %a.moreInfo
            %span i
      .searchForm
        %h2 A Wealth of Knowledge
        %p 
          - if @search.count > 0
            %span 
              explore 
              = number_with_delimiter @search.count, delimiter: ','
              items
          from libraries, archives, and museums
        = form_tag(search_path, method: :get, authenticity_token: false, id: :searchBox, class: 'search-form', role: 'search') do
          = preserved_search_fields without: :q
          = label_tag 'searchField', 'Search the Library', :class => 'visuallyhidden'
          = text_field_tag :searchField, params[:q], placeholder: 'Search the Library', name: "q"
          = submit_tag 'Search', class: 'searchBtn', name: nil
    %section.right
      .row.yellow
        %a{:href => exhibitions_path}
          .box
            %h2 Exhibitions
            %h6 View all »
          .image
            = image_tag "home-exhibitions.jpg"
      .row.blue
        %a{:href => map_path}
          .box
            %h2
              Explore
              %span by Place
            %h6 Map »
          .image
            = image_tag "home-exploreplace.jpg"
      .row
        %a{:href => timeline_path}
          .box
            %h2
              Explore
              %span by Date
            %h6 Timeline »
          .image
            = image_tag "home-exploretime.jpg"
  .content.bottom
    %section.left
      %h1.border Apps
      %h4
        The DPLA is a platform. Developers make apps that use the library’s data in many different ways. Here are just a few.
        %span
          %a{:href => apps_path} App Library »
      = render partial: 'shared/apps/apps_view'
    %section.right
      %h1.border News
      = render partial: 'shared/social_icons', locals: { block_id: nil }
      = render 'shared/wp_news_widget'
      = render 'shared/twitter_widget'
