<section class="<%= item.highlight ? 'highlight' : '' %>"
         data-item-id="<%= item.id %>"
         data-provider="<%= item.provider %>"
         data-data-provider="<%= item.data_provider %>"
         data-title="<%= item.title %>">
  <% back_uri = encodeURIComponent(window.location.href); %>
  <div class="sectionRight">
    <a href="/item/<%= item.id %>?back_uri=<%= back_uri %>">
      <img onerror="image_loading_error(this);" src="<%= item.thumbnail %>" data-default-src="<%= window.default_img_path %>"/>
    </a>
  </div>
  <div class="sectionLeft">
    <h6><%= item.type %></h6>
    <a href="/item/<%= item.id %>?back_uri=<%= back_uri %>"><%= item.title %></a>
    <p><span><%= item.creator %></span></p>
    <p><span><%= item.created_date %></span></p>
    <p><%= item.description %></p>
    <a href="<%= item.source %>" class="ViewObject" target="_blank">
      Get full
      <% if (typeof item.type === 'string' && item.type != '') { %>
        <%= item.type %>
      <% } else if (_.isArray(item.type) && item.type.length == 1) { %>
        <%= item.type[0] %>
      <% } else { %>
        item
      <% } %>
      from
      <% if (item.data_provider != '') { %>
        <%= item.data_provider %>
      <% } else { %>
        contributing institution
      <% } %>
      <span class="icon-view-object" aria-hidden="true"></span>
    </a>
  </div>
</section>
