<section class="<%= item.highlight ? 'highlight' : '' %>">
  <div class="sectionRight">
    <img onerror="image_loading_error(this);" src="<%= item.thumbnail %>" data-default-src="<%= window.default_img_path %>">
  </div>
  <div class="sectionLeft">
    <h6><%= item.type %></h6>
    <% back_uri = encodeURIComponent(window.location.href); %>
    <a href="/item/<%= item.id %>?back_uri=<%= back_uri %>"><%= item.title %></a>
    <p><span><%= item.creator %></span></p>
    <p><%= item.description %></p>
    <a href="<%= item.source %>" class="ViewObject" target="_blank">
      View Object
      <span class="icon-view-object" aria-hidden="true"></span>
    </a>
  </div>
</section>
