<%
var sourceResource = model.get('sourceResource');
var presenter = {
  id: model.get('id'),
  subjects: sourceResource.subject,
  shown_at: model.get('isShownAt'),
  type: sourceResource.type
};
presenter.thumb = model.get('object') ?
                  model.get('object') :
                  window.default_preview_thumb;

var created_date = (typeof sourceResource.date === 'undefined') ?
                   '' : sourceResource.date.displayDate;

presenter.created_date = Array.isArray(created_date) ?
                         created_date.join(', ') : created_date;

var data_provider = (typeof model.get('dataProvider') === 'undefined') ?
                    '' : model.get('dataProvider');

presenter.data_provider = Array.isArray(data_provider) ?
                          data_provider.join(', ') : data_provider;

_.each(['creator', 'title', 'description'], function(key) {
  presenter[key] = _.isArray(sourceResource[key]) ?
                   sourceResource[key].join(', ') :
                   sourceResource[key];
});
%>

<div class="book-preview">
  <a href="#/" class="toggle mobile">
    <span class="icon-arrow-thin-left" aria-hidden="true"></span>Back</a>
  <a href="/item/<%= presenter.id %>" class='book-image-link'>
    <img src="<%= presenter.thumb %>" class="cover_small" alt="">
  </a>
  <h2><a href="/item/<%= presenter.id %>"><%= presenter.title %></a></h2>
  <% if (presenter.creator) { %>
    <h3><%= presenter.creator %></h3>
  <% } %>
  <% if (presenter.created_date) { %>
    <h3><%= presenter.created_date %></h3>
  <% } %>

  <p class="book-description"><%= presenter.description %></p>

  <% if (presenter.subjects && presenter.subjects.length) { %>
    <div class="book-subjects">
      <strong>Subjects:</strong>
      <ul class="individual-subjects">
        <% _.each(presenter.subjects, function(subject, index) { %>
          <li><a href="/bookshelf?utf8=✓&subject=<%= subject.name %>" class="single-subject-link" data-subject="<%= subject.name %>"><%= subject.name %></a></li>
        <% }); %>
      </ul>
    </div>
  <% } %>

  <ul class="book-preview-actions">
    <li>
      <a href="<%= presenter.shown_at %>" target="_blank">
        Get full
        <% if (typeof presenter.type === 'string' && presenter.type != '') { %>
          <%= presenter.type %>
        <% } else { %>
          item
        <% } %>
        from
        <% if (presenter.data_provider != '') { %>
          <%= presenter.data_provider %>
        <% } else { %>
          contributing institution
        <% } %>
      </a>
    </li>
    <% if (presenter.viewer_url) { %>
      <li><a href="<%= presenter.viewer_url %>">Read</a></li>
    <% } %>
  </ul>

  <div class="book-relateds"></div>
</div>