.layout
  = render 'shared/search_panel'
  %ul.shareSave
    %li.btn
      %a{:href => ""} Save to...
    %li.btn
      %a{:href => ""} Share
  %h1= @item.title
  %article
    .FeatureContent
      - if @item.preview_source_url.present?
        .contentBox
          = image_tag @item.preview_source_url
          = link_to @item.source, target: :_blank, class:'ViewObject' do
            View Object
            %span.icon-view-object{"aria-hidden" => "true"}
      .table
        -if @item.creator.present?
          %ul
            %li
              %h6 Creator
            %li= @item.creator
        - if @item.created.present?
          %ul
            %li
              %h6 Created date
            %li= @item.created['displayDate']
        - if @item.publisher.present?
          %ul
            %li
              %h6 Publisher
            %li= raw Array(@item.publisher).join('<br />')

      .detail-bottom
        %h6 Description
        %p= @item.description

    .table
      - if @item.spatial.present?
        %ul
          %li
            %h6 Location
          %li= raw @item.spatial.map{|l| l["name"]}.join("<br />")
      - if @item.format.present?
        %ul
          %li
            %h6 Format
          %li= @item.format
      - if @item.type.present?
        %ul
          %li
            %h6 Type
          %li= @item.type
      - if @item.subject.present?
        %ul
          %li
            %h6 Subject
          %li= raw @item.subject.map{|l| l["name"]}.join("<br />")
      - if @item.rights.present?
        %ul
          %li
            %h6 Rights
          %li= @item.rights
      - if @item.source.present?
        %ul
          %li
            %h6 URL
          %li= link_to @item.source, @item.source, target: :_blank
  %aside
    .module.yellow.line
      .moduleSection
        .moduleLeft
          %h6 Created Date
          %p 1966-06
          %a{:href => ""} View on timeline »
        .moduleRight
          %img{:alt => "Timeline", :src => "/assets/moduleImg1.jpg"}/
      .moduleSection
        .moduleLeft
          %h6 Location
          %p Minneapolis, Hennepin County, Minnesota
          %a{:href => ""} View on map »
        .moduleRight
          %img{:alt => "Map", :src => "/assets/moduleImg2.jpg"}/
    .module
      %h6 From the Collection
      %h5
        %a{:href => ""} Smithsonian Civil War Collection
      %p Description of this collection lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac est leo. Cras sollicitudin volutpat nibh in blandit. Morbi ornare quam quis tortor pretium at hendrerit magna molestie. Cras facilisis, nulla non lobortis varius, tellus nibh elementum nibh, non accumsan augue augue ut augue.