- page_title! @item.title
- set_meta_tags :og => item_ogp_meta(@item)
.layout
  = render 'shared/search_panel'
  = render 'shared/share_save'
  %h1= @item.title || @item.id
  - if @item.titles.present?
    %h4= @item.titles.join(', ')
  %article#content{role: "main"}
    .FeatureContent
      .contentBox
        = link_to @item.url, target: :_blank do
          = item_thumbnail(@item)
        = link_to @item.url, target: :_blank, class:'ViewObject' do
          View Object
          %span.icon-view-object{"aria-hidden" => "true"}
      .table
        = item_field :creator
        = item_field :created_date
        = item_field :provider, title: 'Partner'
        = item_field :contributing_institution
        = item_field :publisher

      .detail-bottom
        - if @item.description.present?
          %h6 Description
          .desc-short
            %p
              = truncate @item.description, length: 450
              - if @item.description.length > 450
                %a.desc-toggle
                  more
                  %span.icon-arrow-down{"aria-hidden" => "true"}
          - if @item.description.length > 450
            .desc-long
              %p
                = @item.description
                &nbsp;
                %a.desc-toggle
                  less
                  %span.icon-arrow-up{"aria-hidden" => "true"}

    .table
      = item_field :location
      = item_field :format
      = item_field :type
      - if @item.subject.present?
        %ul
          %li
            %h6 Subject
          %li
            = Array(@item.subject).map { |s| link_to_subject s }.join('<br />').html_safe
      = item_field :rights
      -if @item.standardized_rights_statement.present?
        =item_field :standardized_rights_statement
      = item_field :url, title: 'URL' do
        = link_to @item.url, @item.url, target: :_blank
  %aside
    - # is_location_present = @item.location.present? && @item.coordinates.present?
    - is_date_present     = @item.created_date.present? && @item.year.present?
    - if is_date_present
      .module.yellow.line
        -if is_date_present
          .moduleSection
            .moduleLeft
              %h6 Created Date
              %p= @item.created_date
              = link_to 'View on timeline »', timeline_path(anchor: "#{@item.year}/#{@item.id}")
            .moduleRight
              %img{:alt => "Timeline", :src => "/assets/moduleImg1.jpg"}/
        / - if is_location_present
        /   .moduleSection
        /     .moduleLeft
        /       %h6 Location
        /       %p= @item.location.first
        /       - coordinates = @item.coordinates.first
        /       - anchor = {lat: coordinates.first.strip, lng: coordinates.last.strip, zoom: 10}.to_param
        /       = link_to 'View on map »', map_path(anchor: "/?#{anchor}")
        /     .moduleRight
        /       %img{:alt => "Map", :src => "/assets/moduleImg2.jpg"}/
    / .module
    /   %h6 From the Collection
    /   %h5
    /     %a{:href => ""} Smithsonian Civil War Collection
    /   %p Description of this collection lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac est leo. Cras sollicitudin volutpat nibh in blandit. Morbi ornare quam quis tortor pretium at hendrerit magna molestie. Cras facilisis, nulla non lobortis varius, tellus nibh elementum nibh, non accumsan augue augue ut augue.

:javascript
  #{analytics_track_event "View Item : #{@item.try(:provider)}", "#{@item.try(:contributing_institution)}", "#{@item.id} : #{@item.try(:title)}"}