.layout
  %section.searchRow
    .searchRowLeft
      - unless session[:last_query].nil?
        = link_to "« back to searh results", session[:last_query]
    .searchRowRight
      .searchViews
        %span View:
        %ul
          %li.active
            %a{:href => ""}
              %span.icon-view-list{"aria-hidden" => "true"}
          %li
            %a.viewTwo{:href => ""}
              %span.icon-view-map{"aria-hidden" => "true"}
          %li
            %a.viewThree{:href => ""}
              %span.icon-view-time{"aria-hidden" => "true"}
      %a.search-btn{:href => ""} Search
      = form_tag(search_items_path, method: :get, authenticity_token: false, id: :searchBox) do
        = preserved_search_fields without: :q
        = text_field_tag :q, params[:q], placeholder: 'Search the Library'
        = submit_tag 'Search', class: 'searchBtn', name: nil

  %h1= @item.title
  %article
    .FeatureContent
      - if @item.preview_source_url.present?
        .contentBox
          = image_tag @item.preview_source_url
      .table
        -if @item.creator.present?
          %ul
            %li
              %h6 Creator
            %li= @item.creator
        - if @item.created.present?
          %ul
            %li
              %h6 Created date
            %li= @item.created
        - if @item.publisher.present?
          %ul
            %li
              %h6 Publisher
            %li= @item.publisher

      .detail-bottom
        %h6 Description
        %p= @item.description

    .table
      - if @item.spatial.present?
        %ul
          %li
            %h6 Location
          %li= @item.spatial
      - if @item.format.present?
        %ul
          %li
            %h6 Format
          %li= @item.format
      - if @item.type.present?
        %ul
          %li
            %h6 Type
          %li= @item.type
      - if @item.subject.present?
        %ul
          %li
            %h6 Subject
          %li= @item.subject
      - if @item.rights.present?
        %ul
          %li
            %h6 Rights
          %li= @item.rights
      - if @item.source.present?
        %ul
          %li
            %h6 URL
          %li= link_to @item.source, @item.source