.layout
  %section.searchRow
    .searchRowLeft
      - unless session[:last_query].nil?
        = link_to "« back to searh results", session[:last_query]
    .searchRowRight
      .searchViews
        %span View:
        %ul
          %li.active
            %a{:href => ""}
              %span.icon-view-list{"aria-hidden" => "true"}
          %li
            %a.viewTwo{:href => ""}
              %span.icon-view-map{"aria-hidden" => "true"}
          %li
            %a.viewThree{:href => ""}
              %span.icon-view-time{"aria-hidden" => "true"}
      %a.search-btn{:href => ""} Search
      = form_tag(search_items_path, method: :get, authenticity_token: false, id: :searchBox) do
        = preserved_search_fields without: :q
        = text_field_tag :q, params[:q], placeholder: 'Search the Library'
        = submit_tag 'Search', class: 'searchBtn', name: nil

  %ul.shareSave
    %li.btn
      %a{:href => ""} Save to...
    %li.btn
      %a{:href => ""} Share
  %h1= @item.title
  %article
    .FeatureContent
      - if @item.preview_source_url.present?
        .contentBox
          = image_tag @item.preview_source_url
      .table
        -if @item.creator.present?
          %ul
            %li
              %h6 Creator
            %li= @item.creator
        - if @item.created['displayDate'].present?
          %ul
            %li
              %h6 Created date
            %li= @item.created['displayDate']
        - if @item.publisher.present?
          %ul
            %li
              %h6 Publisher
            %li= @item.publisher

      .detail-bottom
        %h6 Description
        %p= @item.description

    .table
      - if @item.spatial.present?
        %ul
          %li
            %h6 Location
          %li= raw @item.spatial.map{|l| l.fetch("name")}.join("<br />")
      - if @item.format.present?
        %ul
          %li
            %h6 Format
          %li= @item.format
      - if @item.type.present?
        %ul
          %li
            %h6 Type
          %li= @item.type
      - if @item.subject.present?
        %ul
          %li
            %h6 Subject
          %li= raw @item.subject.map{|l| l.fetch("name")}.join("<br />")
      - if @item.rights.present?
        %ul
          %li
            %h6 Rights
          %li= @item.rights
      - if @item.source.present?
        %ul
          %li
            %h6 URL
          %li= link_to @item.source, @item.source
  %aside
    .module.yellow.line
      .moduleSection
        .moduleLeft
          %h6 Created Date
          %p 1966-06
          %a{:href => ""} View on timeline »
        .moduleRight
          %img{:alt => "Timeline", :src => "/assets/moduleImg1.jpg"}/
      .moduleSection
        .moduleLeft
          %h6 Location
          %p Minneapolis, Hennepin County, Minnesota
          %a{:href => ""} View on map »
        .moduleRight
          %img{:alt => "Map", :src => "/assets/moduleImg2.jpg"}/
    .module
      %h6 From the Collection
      %h5
        %a{:href => ""} Smithsonian Civil War Collection
      %p Description of this collection lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac est leo. Cras sollicitudin volutpat nibh in blandit. Morbi ornare quam quis tortor pretium at hendrerit magna molestie. Cras facilisis, nulla non lobortis varius, tellus nibh elementum nibh, non accumsan augue augue ut augue.