= simple_form_for @app do |f|
  = f.input :icon
  = f.input :screenshot
  = f.input :title, required: true, autofocus: true
  = f.input :author, required: true
  = f.input :teaser_description, input_html: { rows: 5 }
  = f.input :description, input_html: { rows: 5 }
  .is_promo
    = f.input :is_promo, label: 'Show on home page'
  = f.input :home_page_url
  = f.input :develop_app_url
  .created_at
    = f.input :created_at
  %br
  = f.button :submit, class: :btn
