- set_meta_tags :og => {:description => "The DPLA's platform and open data can be used by software developers, researchers, and others to create novel environments for learning, tools for discovery, and engaging apps."}

.layout.fullWidth.app
  = render 'shared/search_panel'
  %article#content{role: "main"}
    = render 'shared/share_save'
    %h1.border App Library
    %h4 The DPLA is a platform that enables new and transformative uses of our digitized cultural heritage. The DPLA's application programming interface (API) and open data can be used by software developers, researchers, and others to create novel environments for learning, tools for discovery, and engaging apps.

    - if is_admin?
      = link_to 'Add New App', new_app_path, class: :btn
    = link_to 'Become an App Developer', wordpress_path('/developers/'), class: :btn
    .pagination= paginate @apps

    = render partial: 'shared/apps/apps_view'