.layout.fullWidth.app
  = render 'shared/search_panel'
  %article#content{role: :main}
    = render 'shared/share_save'
    %h1.border App Library
    %h4 Explore the DPLA through many apps lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a dui at ligula viverra blandit et quis velit. Donec tempor tincidunt nisi sit amet venenatis. Proin at mauris vel lectus egestas mattis. In sed ligula non ipsum ullamcorper eleifend vel eget orci. Aenean id leo at massa lacinia iaculis sit amet quis sapien. Proin a venenatis magna.

    = link_to 'Become an App Developer', '#', class: :btn
    .pagination= paginate @apps

    - unless @apps.present?
      .moduleContainer.threeCol
        %p Apps not found
    - else
      - @apps.each_slice(3) do |apps_row|
        .moduleContainer.threeCol
          - apps_row.each do |app|
            %section.module
              .icon
              .text
                %h5= link_to app.title, app
                %p= app.author
              %p= app.description
              = link_to 'App Home Page »'

