.layout.fullWidth.app
  = render 'shared/search_panel'
  %article#content{role: "main"}
    = render 'shared/share_save'
    %h1.border App Library
    %h4 Explore the DPLA through many apps lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a dui at ligula viverra blandit et quis velit. Donec tempor tincidunt nisi sit amet venenatis. Proin at mauris vel lectus egestas mattis. In sed ligula non ipsum ullamcorper eleifend vel eget orci. Aenean id leo at massa lacinia iaculis sit amet quis sapien. Proin a venenatis magna.

    - if is_admin?
      = link_to 'Add New App', new_app_path, class: :btn
    = link_to 'Become an App Developer', Settings.apps.become_app_developer, class: :btn
    .pagination= paginate @apps

    = render partial: 'shared/apps/apps_view'