%p#notice= notice

%p
  %b Title:
  = @app.title
%p
  %b Author:
  = @app.author
%p
  %b Description:
  = @app.description
%p
  %b Home page:
  = @app.home_page

= link_to 'Edit', edit_app_path(@app)
\|
= link_to 'Back', apps_path
