.leftSide
  .module.itemList.yellow
    %ul.itemList-top
      %li{class: 'index' == params[:action] ? 'active' : ''}
        = link_to 'All Items', saved_lists_path, class: 'name'
    %h4 Your Lists
    %ul
      - unlisted_active = 'show' == params[:action] && @list.blank?
      %li{class: unlisted_active ? 'active' : ''}
        = link_to unlisted_saved_lists_path, class: "name locked" do
          Unlisted
          %span.icon-lock{'aria-hidden' => true}
          %span.visuallyhidden Private
        %span= @unlisted.count
      - @lists.each do |list|
        %li{class: list.eql?(@list) ? 'active' : ''}
          - locked = list.private? ? 'locked' : ''
          = link_to list, class: "name #{locked}" do
            = list.title
            - if list.private?
              %span.icon-lock{'aria-hidden' => true}
              %span.visuallyhidden Private
          %span= list.saved_items.count
          = link_to 'edit', edit_saved_list_path(list), class: :edit
          = link_to '×',    list, class: :remove, method: :delete, confirm: 'Are you sure?'
    = link_to 'Add New', new_saved_list_path, class: :btn