.leftSide
  .module.itemList.yellow
    %ul.itemList-top
      %li{class: 'index' == params[:action] ? 'active' : ''}
        = link_to 'All Items', saved_lists_path, class: 'name'
    %h4 Your Lists
    %ul
      - unlisted_active = 'show' == params[:action] && @list.blank?
      %li{class: unlisted_active ? 'active' : ''}
        %span.name
          = link_to 'Your Saved Items', unlisted_saved_lists_path
          %span.icon-lock{'aria-hidden' => true}
        %span= @unlisted.count
      - @lists.each do |list|
        %li{class: list.eql?(@list) ? 'active ' + list.id.to_s : ''}
          - locked = list.private? ? 'icon-lock' : 'icon-unlock'
          %span.name
            = link_to list.title, list
            %span
              - list_data = {list: list.id}
            %a{class: "statusLink #{locked}", href: "#", data: list_data}
          %span= list.saved_items.count
          = link_to 'edit', edit_saved_list_path(list), class: :edit
          = link_to '×',    list, class: :remove, method: :delete, confirm: 'Are you sure?'
    = link_to 'Add New', new_saved_list_path, class: :btn