.layout.fullWidth
  = render 'shared/search_panel'
  %article#content{role: 'main'}
    %h1 Your Profile
    .profile
      = render partial: 'shared/profile/tabs'
      .tab-content
        = render partial: 'aside'
        .rightSide
          .list-detail
            %h2 All Items
          - if @saved_item_positions.present?
            = render partial: 'paginator'
            .savedList
              %form
                %section
                = check_box_tag nil, nil, nil, class: 'checkbox select-all'
                .searchLeft
                .searchMiddle
                .searchRight
                  %h5 List
                .delete
                  %h5 Remove
                - @saved_item_positions.each do |position|
                  - saved_item = position.saved_item
                  %section
                    - checkbox_data = {item: saved_item.id}
                    = check_box_tag :item, nil, nil, class: :checkbox, data: checkbox_data
                    .searchLeft
                      %h4= link_to position.item.title, item_path(position.item.id)
                      %p= position.item.description
                      = link_to position.item.url, target: :_blank, class:'ViewObject' do
                        View Object
                        %span.icon-view-object{"aria-hidden" => "true"}
                    .searchMiddle
                      - if position.item.preview_image
                        = image_tag position.item.preview_image
                    .searchRight
                      - #lists = saved_item.saved_item_positions.includes(:saved_list).map { |p| p.saved_list }
                      - lists = position.neighbors.map { |p| p.saved_list }
                      - lists.each do |list|
                        %span
                          - if list.present?
                            = link_to list.title, list
                          - else
                            = link_to 'Unlisted', unlisted_saved_lists_path

                    .delete
                      - delete_path = delete_saved_item_path(item_id: saved_item.id)
                      = link_to '×', delete_path, class: :remove, method: :delete, confirm: 'Are you sure?'
          - else
            %p Empty list
          - if @saved_item_positions.present?
            // TODO: I'm very sorry for this dirty passing params, but locals: {is_bottom: true}
            // absolutely doesn't work. Very strange, may by is's bug in Rails.
            // I'll come back to this problem later
            - @is_bottom = true
            = render partial: 'paginator'