.layout.fullWidth
  = render 'shared/search_panel'
  %article#content{role: 'main'}
    %h1 Your Profile
    .profile
      = render partial: 'shared/profile/tabs'
      .tab-content
        = render partial: 'aside'
        .rightSide
          .list-detail
            %h2 All Items
          - if @saved_items.present?
            = render partial: 'paginator'
            .savedList
              %form
                %section
                = check_box_tag :item, nil, nil, class: :checkbox
                .searchLeft
                .searchMiddle
                .searchRight
                  %h5 List
                .delete
                  %h5 Remove
                - @saved_items.each do |saved_item|
                  %section
                    = check_box_tag :item, saved_item.id, false, class: :checkbox
                    .searchLeft
                      %h4= link_to saved_item.item.title, item_path(saved_item.item.id)
                      %p= saved_item.item.description
                      = link_to saved_item.item.url, target: :_blank, class:'ViewObject' do
                        View Object
                        %span.icon-view-object{"aria-hidden" => "true"}
                    .searchMiddle
                      - if saved_item.item.preview_image
                        = image_tag saved_item.item.preview_image
                    .searchRight
                      - lists = saved_item.saved_item_positions.includes(:saved_list).map { |p| p.saved_list }
                      - lists.each do |list|
                        %span
                          - if list.present?
                            = link_to list.title, list
                          - else
                            = link_to 'Unlisted', unlisted_saved_lists_path

                    .delete
                      - remove_path = remove_saved_item_path(item_id: saved_item.id)
                      = link_to '×', remove_path, class: :remove, method: :delete, confirm: 'Are you sure?'
          - else
            %p Empty list
          - if @saved_items.present?
            // TODO: I'm very sorry for this dirty passing params, but locals: {is_bottom: true}
            // absolutely doesn't work. Very strange, may by is's bug in Rails.
            // I'll come back to this problem later
            - @is_bottom = true
            = render partial: 'paginator'