- if @list.present?
  - page_title! t('.title', title: @list.title)
- else
  - page_title! t('.title_unlisted')

.layout.fullWidth
-if @is_my_list
  = render 'shared/search_panel'
  %article#content{role: "main"}
    %h1 Your Profile
    .profile
      = render partial: 'shared/profile/tabs'
      .tab-content
        = render partial: 'aside'
        .rightSide
          = render partial: 'list'
-elsif @list.private
  %article#content{role: "main"}
    This list is private.
-else
  %article#content{role: "main"}
    .profile
      .tab-content
        = render partial: 'list'
