- unless @apps.present?
  .moduleContainer.threeCol
    %p Apps not found
- else
  - @apps.each_slice(3) do |apps_row|
    .moduleContainer{class: 'apps' == params[:controller] ? 'threeCol' : nil}
      - apps_row.each do |app|
        %section.module
          - if app.icon.present?
            .icon
              = link_to app do
                = image_tag app.icon
          .text
            %h5= link_to app.title, app
            %p= app.author
          %p
            - if app.teaser_description.present?
              = app.teaser_description
            - else
              = truncate(app.description, :length => 100)
          - if app.home_page_url
            = link_to 'App Home Page »', app.home_page_url