.layoutTwo.map
  = render 'shared/search_panel'

  %h1 Map
  = render 'shared/results/search_results', query: params[:q], search: @search
  - if !@search.result.empty?
    = render 'shared/refine_control'

    - aside_collapses = params[:controller] != 'search'
    %article{class: aside_collapses ? 'widthL' : 'widthS'}
      %p.message Only results with location data are shown below.
      .mapContainer
        .mobile-hover
        .mapFrame
          #map

    = render 'shared/sidebar'

:javascript
  window.states   = #{@search.geocoded_states.to_json};
  window.api_search_path = '#{@api_search_path}';
  window.app_search_path = '#{@app_search_path}';