- page_title! t('.title_with_query', title: t('.title'), query: query_and_filter_terms.join(" - "))
- set_meta_tags :og => {:description => "Curious to see what resources the DPLA has from your home state? Hundreds of thousands of the objects in our database can be viewed on our Map."}

.layoutTwo.map
  = render 'shared/search_panel'

  %h1 
    = query_and_filter_terms.join(" - ")
  = render 'shared/results/search_results', query: params[:q], search: @search
  - if @search.count > 0
    = render 'shared/refine_control'

    - aside_collapses = params[:controller] != 'search'
    %article#content{class: aside_collapses ? 'widthL' : 'widthS', role: "main"}
      .mapContainer
        .mobile-hover
        .mapFrame
          #loading.alert.on
            .spinner
            Loading...
          #map

    = render 'shared/sidebar'

:javascript
  window.states   = #{@search.geocoded_states.to_json};
  window.api_search_path = '#{@search.api_search_path}';
  window.app_search_path = '#{@search.app_search_path}';
  window.config = #{Settings.ui.maps.to_json};
  window.default_images = {
    image: '#{asset_path("icon-image.gif")}',
    sound: '#{asset_path("icon-sound.gif")}',
    video: '#{asset_path("icon-video.gif")}',
    text:  '#{asset_path("icon-text.gif")}'
  }
