.layoutTwo.map
  = render 'shared/search_panel'

  %h1 Map
  = render 'shared/results/search_results', query: params[:q], search: @search
  = render 'shared/refine_control'

  %article
    .mapContainer
      .mobile-hover
      .mapFrame
        #map

  = render 'shared/sidebar'

:javascript
  window.states   = #{@search.geocoded_states.to_json};
  window.api_search_path = '#{@api_search_path}';