!!!
/[if lt IE 7] <html class="no-js lt-ie9 ie8 lt-ie7">
/[if IE 7]    <html class="no-js lt-ie9 ie8">
/[if IE 8]    <html class="no-js lt-ie9 ie8">
/ [if gt IE 8] <!--> <html class="no-js"> <!--
%head
  = display_meta_tags :charset => "utf-8", :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible", :description => "", :viewport => "width=device-width", :twitter => {:card => "summary", :site => "@dpla", :domain => "dp.la"}, :og => {:title => page_title, :image => "http://dp.la/apple-touch-icon-144x144-precomposed.png", :description => "The Digital Public Library of America brings together the riches of America’s libraries, archives, and museums, and makes them freely available to the world.", :type => "website", :url => "#{request.protocol}#{request.host_with_port}#{request.fullpath}"}
  %title= page_title
  = stylesheet_link_tag    "application", media: "all"
  = branding_stylesheets
  = csrf_meta_tags
  = javascript_include_tag 'modernizr-2.6.2.min.js'
  <!--[if lte IE 7]>#{ javascript_include_tag 'lte-ie7.js' }<![endif]-->
  = analytics_init if GoogleAnalytics.valid_tracker?
-# body class names make each page identifiable by controller and action
%body{class: "#{controller_name}-controller #{action_name}-action"}
  %ul.jump-links
    %li
      %a{:href => "#top-nav", "accesskey" => "1"} Go to top navigation
    %li
      %a{:href => "#main-nav", "accesskey" => "2"} Go to main navigation
    %li
      %a{:href => "#searchBox", "accesskey" => "3"} Go to search form
    %li
      %a{:href => "#content", "accesskey" => "4"} Go to main content
    %li
      %a{:href => "#social", "accesskey" => "5"} Go to social media navigation
  .container
    %header{role: "banner"}
      = link_to root_path, class: :logo do
        = image_tag branding_img("logo.png"), :alt => "DPLA: Digital Public Library of America"
      %a.menu-btn{:href => ""}
        %span.icon-arrow-thin-down{"aria-hidden" => "true"}
        %span.visuallyhidden Navigation
      %nav.topNav#top-nav= render 'shared/top_navigation'
      %nav.MainNav#main-nav{role: "navigation"}= render partial: 'shared/main_navigation'
    .clear
    = yield
    %footer{role: "contentinfo"}
      %nav= render 'shared/footer_navigation'
      .footerBottom
        = render 'shared/social_icons'
        = image_tag branding_img("footer-logo.png"), :alt => "DPLA: Digital Public Library of America", class: 'logo'
  - if content_for? :colorbox
    %div{style: 'display:none'}
      = yield :colorbox
  = javascript_include_tag "application"

  %ul.jump-links
    %li
      %a{:href => "#top-nav", "accesskey" => "1"} Return to top navigation
    %li
      %a{:href => "#main-nav", "accesskey" => "2"} Return to main navigation
    %li
      %a{:href => "#searchBox", "accesskey" => "3"} Return to search form
    %li
      %a{:href => "#content", "accesskey" => "4"} Return to main content
    %li
      %a{:href => "#social", "accesskey" => "5"} Return to social media navigation
