!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
:plain
  <!--[if gt IE 8] -->
%html{lang: I18n.locale}
  /<![endif]
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width", name: "viewport"}
    %title DPLA
    /[if lt IE 9]
      = javascript_include_tag "html5shiv"
    = javascript_include_tag "application"
    = stylesheet_link_tag    "application", media: "all"
    = csrf_meta_tags
  %body
    .row.header
      .twelve.columns
        .ancillary-nav
          = render partial: 'shared/user_sign_in'
          = render_navigation context: :ancillary, expand_all: true, renderer: :ancillary
        %h2
          = link_to root_path, title: 'Digital Public Library of America' do
            - image_tag 'logo-gray.png', size: '358x43', alt: 'DPLA'
        .main-nav
          = render_navigation context: :main
    .row
      .twelve.columns
        .panel.big-search
          - if content_for? :big_search
            = yield :big_search
          - else
            = render partial: 'shared/search_box'
    .row
      .twelve.columns
        - flash.each do |key, value|
          .alert-box{class: key}
            = value
            %a.close{href:'#'}×

    = yield
    %footer.row
      .twelve.columns
        %hr
        .row
          .twelve.columns
            .social.right
              = image_tag "facebook.png"
              = image_tag "twitter.png"
            = render_navigation context: :footer

    #login-modal.reveal-modal
      %h3 Log In
      %form{action: "home-loggedin.html"}
        %label Username
        %input{type: "text"}
        %label Password
        %input{type: "password"}
        %input.postfix.button{type: "submit", value: "Log In"}
        %p
          %a.right{href: "#"} Forgot password?
    #signup-modal.reveal-modal
      %h3 Sign Up
      %p Text about benefits of creating an account. Text about benefits of creating an account.
      %p
        %span.red *
        \= required
      %form{action: "home-loggedin.html"}
        %label
          Email address
          %span.red *
        %input{type: "text"}
        %label
          Choose a username
          %span.red *
        %input{type: "text"}
        %label
          Choose a password
          %span.red *
        %input.no-marg-bot{type: "password"}
        %p.gray Must be at least 8 characters.
        %label
          Repeat password
          %span.red *
        %input{type: "password"}
        %input.postfix.button{type: "submit", value: "Sign Up"}

    :javascript
      $(window).load(function(){
        $("#featured").orbit();
      });
