!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title DPLA
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width", :name => "viewport"}
    = javascript_include_tag "application"
    = stylesheet_link_tag    "application", media: "all"
    = csrf_meta_tags
  %body{class: "#{params[:controller]}-controller"}
    .container
      %header
        = link_to root_path, class: :logo do
          = image_tag "logo.jpg", :alt => "DPLA: Digital Public Library of America"
        %a.menu-btn{:href => ""} Menu
        %nav.topNav= render_navigation context: :top, level: 1
        %nav.MainNav= render_navigation context: :main
      = yield
      %footer
        %nav
          %ul
            %li
              %a{:href => ""} Home
            %li
              %a{:href => ""} Subjects
            %li
              %a{:href => ""} Collections
            %li
              %a{:href => ""} Exhibitions
            %li
              %a{:href => ""} Map
            %li
              %a{:href => ""} Timeline
            %li
              %a{:href => ""} App library
          %ul.footer-navTwo
            %li
              %a{:href => ""} Help
            %li
              %a{:href => ""} About
            %li
              %a{:href => ""} News
            %li
              %a{:href => ""} Contact
            %li
              %a{:href => ""} Accessibility
        .footerBottom
          %ul.social.icons
            %li.facebook
              %a{:href => ""}
                %span.icon-facebook{"aria-hidden" => "true"}
            %li.twitter
              %a{:href => ""}
                %span.icon-twitter{"aria-hidden" => "true"}
            %li.RSS
              %a{:href => ""}
                %span.icon-rss{"aria-hidden" => "true"}
          = image_tag "footer-logo.jpg", :alt => "DPLA: Digital Public Library of America"